@import "tailwindcss";

:root {
  /* contrast */
  --bg: #F3EDE2;
  --fg: #0d0c0a;
  --cont1: #e7e0cd;
  /* main colours */
  --bar-red: #e25b6a;
  --bar-amber: #f2b544;
  --bar-teal: #38bca3;
  --bar-purple: #7C43D1;
  /* fonts */
  --font-michroma: var(--font-michroma);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d0c0a;
    --fg: #F3EDE2;
    --cont1: #11111a;
  }
}

/* globals */

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-inter), sans-serif;
  z-index: 0;
}

p,
nav,
a,
li,
span,
div,
button {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo-font {
  font-family: var(--font-michroma), sans-serif;
}

nav span {
  font-family: var(--font-michroma);
}

nav {
  background-color: var(--cont1);
}

/* classes */

.rotatedNavBar {
  transform-origin: left top;
  transform: rotate(-45deg) translate(-300px, 20px);
}

.barIndexRed {
  z-index: 32;
}

.barIndexPurple {
  z-index: 31;
}

.barIndexTeal {
  z-index: 30;
}

.barIndexAmber {
  z-index: 29;
}