@import "tailwindcss";

:root {
  /* contrast */
  --bg: #F3EDE2;
  --fg: #0d0c0a;
  /* main colours */
  --bar-red: #e25b6a;
  --bar-amber: #f2b544;
  --bar-teal: #38bca3;
  --bar-purple: #7C43D1;
  /* fonts */
  --font-michroma: var(--font-michroma);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d0c0a;
    --fg: #F3EDE2;
  }
}

/* globals */

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-inter), sans-serif;
}

p {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo-font {
  font-family: var(--font-michroma), sans-serif;
}