@import "tailwindcss";

:root {
  /* contrast */
  --bg: #F3EDE2;
  --fg: #0d0c0a;
  --hl-gr: linear-gradient(90deg, #e25b6a 0%, #f2b544 25%, #38bca3 50%, #7C43D1 75%, #e25b6a 100%);
  --cont1: #e7e0cd;
  /* main colours */
  --bar-red: #e25b6a;
  --bar-amber: #f2b544;
  --bar-teal: #38bca3;
  --bar-purple: #7C43D1;
  /* fonts */
  --font-michroma: var(--font-michroma);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0d0c0a;
    --fg: #F3EDE2;
    --cont1: #11111a;
  }
}

/* globals */

* {
  transition: all 0.3s ease-in-out;
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo-font {
  font-family: var(--font-michroma), sans-serif;
}

nav span {
  font-family: var(--font-michroma);
}

nav,
nav>li {
  background-color: var(--cont1);
}

ul li {
  z-index: 50;
}

a:hover,
ul li:hover {
  transform: translate(2px, -2px);
  background: var(--hl-gr);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  text-shadow: 0 0 2px var(--fg);
  animation: pulse 1.4s ease-in-out infinite;
  filter: saturate(0.8);

}

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 5px var(--bar-red));
  }

  25% {
    filter: drop-shadow(0 0 5px var(--bar-teal));
  }

  50% {
    filter: drop-shadow(0 0 5px var(--bar-purple));
  }

  75% {
    filter: drop-shadow(0 0 5px var(--bar-amber));
  }

  100% {
    filter: drop-shadow(0 0 5px var(--bar-red));
  }
}

/* id */

#splash-loader {
  background-color: color-mix(in srgb, var(--cont1) 20%, transparent);
  backdrop-filter: blur(6px);
}

/* classes */

.rotatedNavBar {
  transform-origin: left top;
  transform: rotate(-45deg) translate(-300px, 20px);
  transition: 0.5s ease-in-out;
  filter: none;
  opacity: 1;
  transition: 1s ease;
}

.barIndexRed {
  z-index: 32;
}

.barIndexPurple {
  z-index: 31;
}

.barIndexTeal {
  z-index: 30;
}

.barIndexAmber {
  z-index: 29;
}

/* queries */

@media (max-width: 992px) {
  .rotatedNavBar {
    transform: rotate(0deg) translate(-20px, -8px);
    transition: 0.5s ease-in-out;
    filter: blur(8px);
    opacity: 0;
    transition: 3s ease;
  }
}