# fly.toml app configuration file generated for backend-muddy-violet-1622 on 2025-11-20T16:04:54Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-muddy-violet-1622'
primary_region = 'lhr'

[build]

[deploy]
  release_command = "python manage.py migrate --noinput"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
